{% extends "base.html" %}

{% block title %}
  <title>Anime</title>
{% endblock %}

{% block content %}
  {% if anime_list %}
    <section class="card-container">
      {% for anime in anime_list %}
        <article class="mycard">
          <header class="card__title">
            <h5><a href="{% url 'anime-detail' anime.pk %}">{{ anime.title }}</a></h5>
          </header>

          <figure class="card__thumbnail">
            <img src="{{ anime.image_url }}">
          </figure>

          <main class="card__description">
            {{ anime.get_short_synopsis }}
            ...
            <br><a href="{% url 'anime-detail' anime.pk %}">Read more</a>
          </main>

          {% if user.is_authenticated and anime.status == 'air' %}
            {% if anime in watchlist %}
              <a href="{% url 'watchlist-remove' anime.pk %}" class="btn btn-danger">Remove from Watchlist</a>
            {% else %}
              <a href="{% url 'watchlist-add' anime.pk %}" class="btn btn-success">Add to Watchlist</a>
            {%  endif %}
          {% endif %}
        </article>
      {% endfor %}
    </section>

  {% else %}
    <p>There are no anime in the database.</p>
  {% endif %}
{% endblock %}