{% extends "base_generic.html" %}

{% block content %}
  <h1>Anime List</h1>
  {% if anime_list %}
  <ul>
    {% for anime in anime_list %}
      <li>
        <a href="{{ anime.get_absolute_url }}">{{ anime.title }}</a> ({{ anime.studios.all|join:", " }})
        {% if user.is_authenticated and anime.status == 'air' %}
          {% if anime in watchlist %}
            <a href="{% url 'watchlist-remove' anime.id %}" role="button" class="btn btn-outline-secondary btn-sm">Remove from Watchlist</a>
          {% else %}
            <a href="{% url 'watchlist-add' anime.id %}" role="button" class="btn btn-outline-secondary btn-sm">Add to Watchlist</a>
          {%  endif %}
          airing
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no anime in the database.</p>
  {% endif %}
{% endblock %}