{% extends "base.html" %}

{% block title %}
  Watchlist
{% endblock %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}
    <h1>Watchlist</h1>

    {% if watchlist_list %}
      <section class="card-container">
        {% for anime in watchlist_list %}
          <article class="mycard">
            <header class="card__title">
              <h5><a href="{% url 'anime-detail' anime.pk %}">{{ anime.title }}</a></h5>
            </header>

            <figure class="card__thumbnail">
              <a href="{% url 'anime-detail' anime.pk %}"><img src="{{ anime.image_url }}" alt=""></a>
            </figure>

            <!-- Remove button -->
            <button type="button" class="watchlist-remove" id="{{ anime.pk }}" style="background: red">Remove from watchlist</button>
          </article>
        {% endfor %}
      </section>

    {% else %}
      <p>There are no anime on your watchlist.</p>
    {% endif %}
{% endblock %}

{% block scripts %}
  <!-- ajax for remove from watchlist button -->
  <script>
  $('.watchlist-remove').click(function(){
      $.ajax({
          type: "POST",
          url: "{% url "update-watchlist" %}",
          data: {'anime_id': $(this).attr('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
          dataType: "json",
          success: function() {
              location.reload();
          },
      });
  })
  </script>
{% endblock %}
